body {
  font-family: Arial, sans-serif;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px
}
#shape-canvas {
  position: relative;
  display: block;
  margin-left: 5%;
  border: 1px solid #000;
}
#shape-links a {
  position: relative;
  display: block;
}